+++
title = "Cloudpods"
linkTitle = "Cloudpods"
+++

<!-- Hero section -->
{{<blocks/cover title="" image_anchor="center" height="full" color="white">}}
<div class="row align-items-center">
  <div class="col-lg-12">
    <h1 class="display-1 mt-0 text-center">
      <img alt="Cloudpods" width="350" src="/images/cloudpods_logo_green.png" />
    </h1>
    <p class="display-2 mb-0 text-center">开源、云原生的融合云平台</p>
  </div>
</div>
<div class="row align-items-center mt-3">
    <!-- <div class="col-lg-4">
        <h2 class="display-2 mt-0 pb-3 text-right">
            私有云
        </h2>
        <h3 class="display-3 mt-0 pb-3 text-right">
            本地虚拟化&裸金属
        </h3>
        <p class="text-right">全面云化IDC物理资源，提升企业IT管理效率</p>
    </div>
    <div class="col-lg-4">
        <img alt="Screenshot of cloudpods" style="width:100%" src="/images/cloudpods_screen2.png" />
    </div>
    <div class="col-lg-4">
        <h2 class="display-2 mt-0 pb-3">
            多云管理
        </h2>
        <h3 class="display-3 mt-0 pb-3">
            私有云&公有云纳管
        </h3>
        <p>统一管理异构IT基础资源，简化多云架构复杂度</p>
    </div> -->



    <div class="col-lg-7 mt-5">
      <div class="screen_img_container">
        <img alt="Screenshot of cloudpods" class="cloudpods_screen_img" src="/images/cloudpods_screen_img.gif" />
      </div>
    </div>
    <div class="col-lg-5 pl-5 mt-2">
      <div class="mt-5">
        <h2 class="display-3 mt-0 pb-3">
            私有云
        </h2>
        <h3 class="display-4 mt-0 pb-3">
            本地虚拟化&裸金属
        </h3>
        <p class="">全面云化IDC物理资源，提升企业IT管理效率</p>
      </div>
      <div class="mt-5">
        <h2 class="display-3 mt-0 pb-3">
            多云管理
        </h2>
        <h3 class="display-4 mt-0 pb-3">
            私有云&公有云纳管
        </h3>
        <p>统一管理异构IT基础资源，简化多云架构复杂度</p>
      </div> 
    </div>
</div>
<div class="col-12 pt-2">
  <div class="pt-3 lead text-center">
    <div class="mx-auto mt-5 mb-5">
      <a class="btn btn-lg btn-secondary mr-3 mb-4" href="/zh/docs/quickstart/">
        快速开始<i class="fas fa-arrow-alt-circle-right ml-2"></i>
      </a>
      <a class="btn btn-lg btn-primary mr-3 mb-4" href="/zh/docs/">
        了解更多<i class="fas fa-book-reader ml-2"></i>
      </a>
    </div>
  </div>
</div>
{{</blocks/cover>}}

{{< blocks/lead color="primary" >}}

<h2>The one cloud contains all your clouds</h2>

<p>Cloudpods不仅可以管理本地的虚拟机和物理机资源，还可以管理多个云平台和云账号。Cloudpods隐藏了这些异构基础设施资源的数据模型和API的差异，对外暴露了一套统一的API，允许用户就像用一个云一样地访问多云。从而大大降低了访问多云的复杂度，提升了管理多云的效率。</p>

{{< /blocks/lead >}}

{{< blocks/section type="features" color="white" >}}

{{% blocks/feature icon="fas fa-cloud-upload-alt fa-2x" title="云原生" height="auto" color="blue" %}}
运行在Kubernetes中，使用Kubernetes Operator管理和维护
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-server fa-2x" title="私有云" height="auto" color="blue" %}}
一个可以管理海量KVM虚拟机的轻量级私有云
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cube fa-2x" title="裸金属" height="auto" color="blue" %}}
一个能进行物理机全生命周期管理的裸机云
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-cloudversify fa-2x" title="多云管理" height="auto" color="blue" %}}
管理多云资源的功能，可以管理大多数的主流云，包括私有云以及公有云
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-dharmachakra fa-2x" title="多云K8s" height="auto" color="blue" %}}
在多云环境部署和管理Kubernetes集群
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-id-card fa-2x" title="多租户IAM" height="auto" color="blue" %}}
一套完整的多租户认证和访问控制体系
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-cog fa-2x" title="多云SSO" height="auto" color="blue" %}}
多云SSO允许以统一的联邦身份访问各个云平台原生控制台
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-terminal fa-2x" title="CLIMC" height="auto" color="blue" %}}
使用命令行工具 **climc** 高效管理Cloudpods
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code fa-2x" title="统一API" height="auto" color="blue" %}}
一套功能丰富、统一一致的REST API和模型访问以上的云资源和功能
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead >}}
<h2 class="section-label">支持的云平台和技术</h2>
{{< /blocks/lead >}}

{{% blocks/section color="#f4f6fb" %}}
<div class="col">
  <div class="provider-wrapper">
    <img src="/images/provider/IPMI.png" alt="IPMI" />
    <img src="/images/provider/KVM.png" alt="" />
    <img src="/images/provider/Redfish.png" alt="Redfish" />
    <img src="/images/provider/ceph.png" alt="Ceph" />
    <img src="/images/provider/minio.png" alt="minio" />
    <img src="/images/provider/VMware.png" alt="VMware" />
    <img src="/images/provider/OpenStack.png" alt="OpenStack" />
    <img src="/images/provider/Nutanix.png" alt="Nutanix" />
    <img src="/images/provider/ZStack.png" alt="ZStack" />
    <img src="/images/provider/Proxmox.png" alt="Proxmox" />
    <img src="/images/provider/BingoCloud.png" alt="品高云" />
    <img src="/images/provider/ctyun.png" alt="天翼云" />
    <img src="/images/provider/ecloud.png" alt="移动云" />
    <img src="/images/provider/JDCloud.png" alt="京东云" />
    <img src="/images/provider/Aliyun.png" alt="阿里云" />
    <img src="/images/provider/TencentCloud.png" alt="腾讯云" />
    <img src="/images/provider/huaweicloud.png" alt="华为云" />
    <img src="/images/provider/AWS.png" alt="AWS" />
    <img src="/images/provider/Azure.png" alt="Azure" />
    <img src="/images/provider/GoogleCloud.png" alt="GoogleCloud" />
    <img src="/images/provider/UCloud.png" alt="UCloud" />
  </div>
</div>

{{% /blocks/section %}}

{{< blocks/lead >}}
<h3 class="section-label">谁在用Cloudpods?</h3>
<p>请在<a href="https://github.com/yunionio/cloudpods/issues/11427">此GitHub Issue</a>查看Cloudpods用户列表</p>
{{< /blocks/lead >}}

{{% blocks/section color="white" %}}

<div class="col">
  <div class="provider-wrapper">
    <img src="/images/provider/mininglamp.png" alt="明略科技" />
    <img src="/images/provider/tianyancha.png" alt="天眼查" />
    <img src="/images/provider/percent.png" alt="百分点" />
    <img src="/images/provider/bitmain.png" alt="BITMAIN" />
    <img src="/images/provider/navinfo.png" alt="四维图新" />
    <img src="/images/provider/bonc.png" alt="东方国信" />
    <img src="/images/provider/huolala.png" alt="货拉拉" />
    <img src="/images/provider/jzsec.png" alt="九州证券" />
    <img src="/images/provider/lixiang.png" alt="理想" />
    <img src="/images/provider/nio.png" alt="NIO" />
    <img src="/images/provider/nsfocus.png" alt="NSFOCUS" />
    <img src="/images/provider/lexin.png" alt="乐信" />
    <img src="/images/provider/xiaoying.png" alt="xiaoying" />
    <img src="/images/provider/hpc-now.png" alt="上海即算科技" />
    <img src="/images/provider/asiainfodata.png" alt="亚信数据" />
    <img src="/images/provider/changhong.png" alt="长虹" />
    <img src="/images/provider/tcl.png" alt="TCL" />
    <img src="/images/provider/iscas.png" alt="中国科学院软件研究所" />
    <img src="/images/provider/grgbanking.png" alt="广电运通" />
    <img src="/images/provider/stoneatom.png" alt="杭州石原子" />

  </div>
</div>

{{% /blocks/section %}}

{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fas fa-question-circle" title="有问题?" %}}
  请在 **GitHub** 提 [issue](https://github.com/yunionio/cloudpods/issues)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="欢迎贡献!" url="https://github.com/yunionio/cloudpods" url_text="给Cloudpods贡献代码" %}}
  请在 **GitHub** 提 [Pull Request](https://github.com/yunionio/cloudpods/pulls)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-weixin" title="加入微信群" %}}
  <img style="width:100px" src="https://www.cloudpods.org/images/contact_me_qr_20210701.png" alt="微信群二维码">
{{% /blocks/feature %}}

{{< /blocks/section >}}
