+++
title = "Cloudpods"
linkTitle = "Cloudpods"
+++

<!-- Hero section -->
{{<blocks/cover title="" image_anchor="center" height="full" color="white">}}
<div class="row align-items-center mt-5 pt-5">
  <div class="col-lg-6">
    <h1 class="display-1 mt-0 pb-3">
      <img alt="Cloudpods" width="320" src="/images/cloudpods_logo_green.png" />
    </h1>
    <p class="display-2 mb-0">开源、云原生的多云和混合云融合平台</p>
  </div>
  <div class="col-lg-6 mt-5 mt-lg-3 d-sm-block" style="display: none">
    <img alt="Screenshot of cloudpods" width="500" src="/images/cloudpods_screen.png" />
  </div>
</div>
<div class="col-12 pt-3">
  <div class="pt-3 lead text-center">
    <div class="mx-auto mt-5 mb-5">
      <a class="btn btn-lg btn-secondary mr-3 mb-4" href="/zh/docs/quickstart/">
        快速开始<i class="fas fa-arrow-alt-circle-right ml-2"></i>
      </a>
      <a class="btn btn-lg btn-primary mr-3 mb-4" href="/zh/docs/">
        了解更多<i class="fas fa-book-reader ml-2"></i>
      </a>
    </div>
  </div>
</div>
{{</blocks/cover>}}

{{< blocks/lead color="primary" >}}

<h2>The one cloud contains all your clouds</h2>

<p>Cloudpods不仅可以管理本地的虚拟机和物理机资源，还可以管理多个云平台和云账号。Cloudpods隐藏了这些异构基础设施资源的数据模型和API的差异，对外暴露了一套统一的API，允许用户就像用一个云一样地访问多云。从而大大降低了访问多云的复杂度，提升了管理多云的效率。</p>

{{< /blocks/lead >}}

{{< blocks/section type="features" color="white" >}}

{{% blocks/feature icon="fas fa-cloud-upload-alt fa-2x" title="云原生" height="auto" color="blue" %}}
运行在Kubernetes中，使用Kubernetes Operator管理和维护
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-server fa-2x" title="私有云" height="auto" color="blue" %}}
一个可以管理海量KVM虚拟机的轻量级私有云
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cube fa-2x" title="裸金属" height="auto" color="blue" %}}
一个能进行物理机全生命周期管理的裸机云
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-cloudversify fa-2x" title="多云管理" height="auto" color="blue" %}}
管理多云资源的功能，可以管理大多数的主流云，包括私有云以及公有云
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-dharmachakra fa-2x" title="多云K8s" height="auto" color="blue" %}}
在多云环境部署和管理Kubernetes集群
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-id-card fa-2x" title="多租户IAM" height="auto" color="blue" %}}
一套完整的多租户认证和访问控制体系
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-cog fa-2x" title="多云SSO" height="auto" color="blue" %}}
多云SSO允许以统一的联邦身份访问各个云平台原生控制台
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-terminal fa-2x" title="CLIMC" height="auto" color="blue" %}}
使用命令行工具 **climc** 高效管理Cloudpods
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code fa-2x" title="统一API" height="auto" color="blue" %}}
一套功能丰富、统一一致的REST API和模型访问以上的云资源和功能
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead >}}
<h2 class="section-label">支持的技术和云平台</h2>
{{< /blocks/lead >}}

{{% blocks/section color="white" %}}
<div class="col">
    <p class="text-center showcase">
        <img style="width: 75px" src="/images/provider/kvm.svg" alt="KVM">
        <img style="height: 61px" src="/images/provider/ipmi.svg" alt="IPMI">
        <img style="height: 60px" src="/images/provider/redfish.jpg" alt="Refish API">
        <img style="width: 75px" src="/images/provider/vmware.svg" alt="VMware">
        <img style="width: 75px" src="/images/provider/openstack.svg" alt="OpenStack">
        <img style="width: 75px" src="/images/provider/zstack.svg" alt="ZStack">
        <img style="width: 75px" src="/images/provider/aliyun.svg" alt="Alibaba Cloud">
        <img style="width: 75px" src="/images/provider/aws.svg" alt="AWS">
        <img style="width: 75px" src="/images/provider/qcloud.svg" alt="Tencent Cloud">
        <img style="height: 65px" src="/images/provider/huawei.svg" alt="Huawei Cloud">
        <img style="width: 75px" src="/images/provider/azure.svg" alt="Azure">
        <img style="width: 75px" src="/images/provider/google.svg" alt="Google Cloud">
        <img style="width: 75px" src="/images/provider/ucloud.svg" alt="UCloud">
        <img style="width: 75px" src="/images/provider/ctyun.svg" alt="China Telecom Cloud">
        <img style="width: 75px" src="/images/provider/cmecloud.svg" alt="China Mobile Cloud">
        <img style="width: 75px" src="/images/provider/jdcloud.svg" alt="JD Cloud">
    </p>
</div>

{{% /blocks/section %}}

{{< blocks/lead >}}
<h3 class="section-label">谁在用Cloudpods?</h3>
<p>请在<a href="https://github.com/yunionio/cloudpods/issues/11427">此GitHub Issue</a>查看Cloudpods用户列表</p>
{{< /blocks/lead >}}

{{% blocks/section color="white" %}}

<div class="col">
    <p class="text-center showcase">
        <img style="height:50px" src="/images/provider/mingluekeji.svg" alt="明略科技">
        <img style="height:28px" src="/images/provider/tianyancha.svg" alt="天眼查">
        <img style="width:200px" src="/images/provider/baifendian.svg" alt="百分点">
        <img style="height:100px" src="/images/provider/bitedalu.svg" alt="比特大陆">
        <img style="height:35px" src="/images/provider/siweituxin.svg" alt="四维图新">
        <img style="height:35px" src="/images/provider/bonc.png" alt="东方国信">
        <img style="height:35px" src="/images/provider/huolala.svg" alt="货拉拉">
        <img style="height:50px" src="/images/provider/jiuzhouzhengquan.svg" alt="九州证券">
        <img style="height:40px" src="/images/provider/lixiang.svg" alt="理想汽车">
        <img style="height:40px" src="/images/provider/lvmeng.svg" alt="绿盟">
    </p>
</div>

{{% /blocks/section %}}

{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fas fa-question-circle" title="有问题?" %}}
  请在 **GitHub** 提 [issue](https://github.com/yunionio/cloudpods/issues)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="欢迎贡献!" url="https://github.com/yunionio/cloudpods" url_text="给Cloudpods贡献代码" %}}
  请在 **GitHub** 提 [Pull Request](https://github.com/yunionio/cloudpods/pulls)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-weixin" title="加入微信群" %}}
  <img style="width:100px" src="https://www.cloudpods.org/images/contact_me_qr_20210701.png" alt="微信群二维码">
{{% /blocks/feature %}}

{{< /blocks/section >}}
