# Hugo default output directory
/public
/resources/_gen/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# npm
node_modules
package-lock.json

# web storm
.idea/
