:target {
    --text-color: #4F4B53;
}

a {
    color: var(--main-color) !important;
}

a:hover {
    color: var(--hover-color) !important;
}

.breadcrumb-item>a {
    color: var(--hover-color) !important;
}

.navbar-nav > .nav-item > .nav-link {
    color: rgba(255, 255, 255, .75) !important;
}
.navbar-nav>.nav-item>.nav-link:hover {
    color: rgba(255, 255, 255, .5) !important;
}
.navbar-nav>.nav-item>.nav-link.active {
    color: rgb(255, 255, 255) !important;
}

.td-sidebar-nav__section-title>a {
    color: var(--text-color) !important;
}

.td-sidebar-nav__section-title>a:hover {
    color: var(--main-color) !important;
}

.td-sidebar-link__page {
    color: var(--text-color) !important;
}

.td-sidebar-link__page:hover {
    color: var(--main-color) !important;
}

a.active.td-sidebar-link__section {
    color: var(--main-color) !important;
}

a.tree-root {
    color: #000 !important;
}

a.active.tree-root {
    color: #000 !important;
}

a.tree-root:hover {
    color: #000 !important;
}

a.active.td-sidebar-link__page {
    color: var(--main-color) !important;
    border-left: solid 3px var(--main-color) !important;
}

a.td-sidebar-link__page:hover {
    color: var(--main-color) !important;
    border-left: solid 3px var(--main-color) !important;
}

.td-sidebar-section_icon-wrapper.active {
    color: var(--main-color);
    fill: var(--main-color);
    font-weight: bold;
}

.entry>h5>a {
    color: var(--main-color) !important;
}

a {
    color: var(--main-color);
}

.item-link:hover>div>img {
    filter: drop-shadow(var(--hover-color) 12px 0) !important;
}

.alert-success,
.alert-warning {
    border-color: var(--main-color) !important;
}

.alert-heading {
    color: var(--main-color) !important;
}

/* 右侧导航 */
#TableOfContents {
    width: 0;
    height: 0;
    overflow: hidden;
}

#toc-hidden>ul {
    list-style-type: none;
    padding: 20px 20px 20px 10px;
}

#toc-hidden>ul li {
    list-style: none;
    min-height: 42px;
    line-height: 42px;
    position: relative;
}

#toc-hidden>ul li>ul {
    padding-left: 20px;
}

#toc-hidden>ul>li {
    padding-left: 20px;
    border-left: solid 1px #E1E1E1;
}

#toc-hidden a {
    color: #000 !important;
}

#toc-hidden a:hover {
    color: var(--main-color) !important;
}

.li1-item>a:hover+.li1-item-style>.li1-item-style-dotted {
    background-color: var(--main-color) !important;
}

.li2-item>a:hover+.li2-item-style {
    background-color: var(--main-color) !important;
}

.li1-item-style {
    width: 42px;
    height: 42px;
    position: absolute;
    left: -21px;
    top: 0;
}

.li1-item-topborder,
.li1-item-bottomborder {
    width: 100%;
    height: 50%;
    background-color: #fff;
}

.li1-item-topborder.show,
.li1-item-bottomborder.show {
    opacity: 0;
}

.li1-item-style-dotted {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E1E1E1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 5px #fff;
}

.li1-item.active .li1-item-style-dotted {
    background-color: var(--main-color);
}

#toc-hidden .li1-item.active>a {
    color: var(--main-color) !important;
}

.no-border .mask-line {
    width: 21px;
    height: 21px;
    border-left: #E1E1E1 solid 1px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#toc-hidden>ul>.no-border {
    border: none;
}

.li2-item-style {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 16px;
    background-color: #E1E1E1;
}

.li2-item.active .li2-item-style {
    background-color: var(--main-color);
}

#toc-hidden .li2-item.active a {
    color: var(--main-color) !important;
}

.td-content ul li {
    font-size: 0.9rem !important;
}

@media (min-width: 992px) {
    .td-max-width-on-larger-screens,
    .td-content>pre,
    .td-content>.highlight,
    .td-content>.lead,
    .td-content>h1,
    .td-content>h2,
    .td-content>ul,
    .td-content>ol,
    .td-content>p,
    .td-content>blockquote,
    .td-content>dl dd,
    .td-content .footnotes,
    .td-content>.alert {
        max-width: 100% !important;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    color: #ffffff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px; */
    background-color: #FFFFFF;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-ce {
    background-color: #076f38!important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 10%);
}
.navbar-ee {
    background-color: #fff!important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 10%);
}

/* 全局图片 */
.td-content img {
    margin-bottom: 1rem;
    /* padding: 0.5rem; */
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 10px 3px;
    border-radius: 10px;
    border: 1px solid rgba(50, 50, 50, 0.1);
}
