/*

Add styles or override variables from the theme here.

*/

$primary: #1688f7 !default;
$dark: #fff !default;

h2.title {
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 2vw;
  margin-top: 30px;
}

.td-outer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.td-navbar {
  min-height: 2vw !important;
  min-height: 70px;
  #main_navbar {
    margin-top: 0 !important;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
    > b {
      color: #fff;
      font-size: 25px;
      padding-left: 5px;
    }
  }
  .logo {
    img {
      width: 160px;
    }
  }
  a.nav-link {
    font-weight: 600;
    // font-size: 1.2vw;
  }
}

.td-home .td-default main section:first-of-type {
  margin: 0 !important;
  padding: 0 !important;
}

.td-home {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.td-main {
  > section.row {

  }

  .container-fluid {
    padding: 0 !important;
  }

  .td-cover-block {
    padding: 0;
  }

  .td-cover-block--height-full {
    min-height: auto;
  }
  .flex-xl-nowrap {
    margin: 0;
  }
}

footer.d-print-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0;
  min-height: 50px;
  line-height: 50px;
  font-size: 12px;
  .container-fluid {
    background: $primary;
    margin: 0 !important;
    text-align: center;
    padding: 0;
  }

  .col-6 {
    width: 0px !important;
    overflow: hidden;
  }
}

.td-default {
  main {
    section:first-of-type {
      padding-top: 4rem !important;
      margin-bottom: 2rem;
    }
  }
}

#td-sidebar-menu {
  .td-sidebar__search {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.search-menu {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    padding: 3px 20px;
    margin: 0;
    width: 100%;

    a {
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }
  }
}

#td-sidebar-menu {
  .td-sidebar__search {
    padding: 1rem 0;
    padding-top: 1.5rem;
  }
  .search-input {
    background: transparent;

    &.form-control:focus {
      border-color: lighten($primary, 60%);
      box-shadow: 0 0 0 2px lighten($primary, 30%);
    }

    border-radius: 1rem;

    font-family: "Font Awesome 5 Free";
  }
}

.home-content {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  padding: 6rem 7vw 10rem 10vw;
  .describe {
    flex: 1;
    text-align: left;
    margin-bottom: 2rem;
    color: #333333;
    h4 {
      font-size: 2vw;
      font-weight: 600;
      margin-bottom: 1.8rem;
    }
    h5 {
      font-size: 1.2vw;
    }
  }
  .flex-1 {
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
    .card-img-top {
      height: 100%;
      width: 100%;
    }
  }
  .down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -45px;
    a.btn-link{
      color: #1688f7;
      .fa-chevron-circle-down{
        font-size: 60px
      }
    }
  }
}

.home-footer {
  padding: 0.5rem 1rem;
  height: 7vw;
  z-index: 1;
  background-color: rgb(96, 146, 254);
  display: flex;
  align-items: center;
  // position: fixed;
  bottom: 0;
  width: 100%;
  .items {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    > div {
      // flex: 1;
      white-space: nowrap;
      color: #fff;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.7vw;
    }
    span {
      font-size: 2vw;
      padding: 0 .1rem;
      margin: 0 3.06%;
    }
  }
}

@media (max-width: 690px) {
  .home-footer {
    min-height: 26vw;
    padding: 1rem 4vw !important;
    .items {
      display: inline-block;
      > div:first-child {
        min-height: 26vw;
      }
      > span.first {
        min-height: 26vw;
        line-height: 26vw;
      }

      div {
        height: 13vw;
        overflow: hidden;
        float: left;
        font-size: 3vw !important;
        padding-top: 1vw;
        text-align: left;
      }
      span {
        float: left;
        height: 13vw;
        line-height: 14vw;
        overflow: hidden;
        //font-size: 3vw !important;
        //margin: 0 2% !important;
      }
    }
  }
  .td-navbar {
    height: auto;
    //padding: .3rem !important;
    .navbar-brand {
      > b {
        color: #fff;
        padding-left: 5px;
        // font-size: 1.2rem;
      }
    }
    .logo > img {
      // width: 8vw !important;
    }

  }
}

@media (max-width: 765px) {
  #td-block-1{
    padding-top: 100px !important
  }
  .down{
    bottom: -40px !important;;
    margin-left: -23px !important;
    a.btn-link{
      color: #1688f7;
      .fa-chevron-circle-down{
        font-size: 30px !important;
      }
    }
  }
  .home-content {
    // padding-top: 9rem;
    padding:5rem 5vw 2rem 5vw !important
  }
  .nav-link {
    padding: 0 !important;
    margin: .7rem 0 0 0;
  }

  .home-time {
    h4 {
      height: 18vw;
      line-height: 18vw;
    }
  }


}

@media (max-width: 991.98px) {

  .home-content {
    // padding-top: 9rem;
    display: block;
    padding: 6rem 5vw 7rem 5vw;
    .describe {
      margin-bottom: 4rem;
      h4 {
        font-size: 3vw;
        font-weight: 600;
        margin-bottom: 2vw;
      }
      h5 {
        font-size: 2.8vw;
        p {
          margin-bottom: 1.5vw;
        }
      }
    }
    .flex-1 {
      padding: 0;
      height: 66%;
      .card-img-top {
        height: 100%;
        width: 100%;

      }
    }
  }
  .home-footer {
    // min-height: 100px;
    padding: 0.5rem 1vw;
    .items {
      > div {
        font-size: 1.7vw;
      }
      span {
        font-size: 2vw;
        margin: 0 3%;
      }
    }

  }
  .td-navbar {
    //padding: .3rem !important;
    .navbar-brand {
      > b {
        color: #fff;
        padding-left: 5px;
       // font-size: 1.2rem;
      }
    }
    .logo > img {
      // width: 6vw;
    }

  }

  .framework-image {
    margin: 2vw !important;

    > div > img {
      width: 100% !important;
    }
  }
}

.framework-image {
  margin: 4vw;
  text-align: center;
  h2.title {
    text-align: center;
  }
  > div > img {
    display: inline-block;
    width: 90%;
  }
}

.home-provider {
  margin: 4vw;
  .provider-items {
    text-align: center;
    .provider-item {
      display: inline-block;
      text-align: center;
      // border: .0625rem solid #f5f7fc;
      padding: .625rem;
      margin: .5rem;
      img{
       // height: 30px;
      }
    }
  }
}

.home-time {
  background-color: $primary;
  h4 {
    font-size: 14px;
    margin: 0;
    height: 100px;
    line-height: 100px;
  }
  color: #fff;
}

.home-hr {
  margin: 4vw 0;
  border: 3px solid $primary
}


#td-block-1{
  padding-top: 65px;
}
