<footer class="home-footer">
   <div class="items">
       <div>
           融合云
       </div>
       <span>
           =
       </span>

       <div>
           Embedded<br/>
           Private Cloud
       </div>
       <span>
           +
       </span>

       <div>
           Unified API<br/>
           统一API
       </div>
       <span>
           +
       </span>

       <div>
           Unified Identity<br/>
           统一认证
       </div>
       <span>
           +
       </span>

       <div>
           Unified Networking<br/>
           融合网络
       </div>
       <span>
           +
       </span>

       <div>
           Kubernetes
       </div>
   </div>
</footer>
