{{ $cover := .HasShortcode "blocks/cover" }}
<nav class="js-navbar-scroll navbar navbar-expand navbar-light {{ if not $cover }} nav-shadow {{ end }}flex-column flex-md-row td-navbar">

	<a href="/" class="logo flex-shrink-0 navbar-brand">
		<span>{{ if .Site.Params.ui.navbar_logo }}{{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}{{ end }}</span>
		<b>OneCloud</b>
	</a>

	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="{{ .Site.Params.quick_url}}">快速开始</a>
			</li>
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="/docs">文档</a>
			</li>
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="{{ .Site.Params.github_project_repo }}">Github</a>
			</li>
		</ul>
	</div>
</nav>
