+++
title = "Cloudpods"
linkTitle = "Cloudpods"
+++

<!-- Hero section -->
{{<blocks/cover title="" image_anchor="center" height="full" color="white">}}
<div class="row align-items-center">
  <div class="col-lg-12">
    <h1 class="display-1 mt-0 text-center">
      <img alt="Cloudpods" width="350" src="/images/cloudpods_logo_green.png" />
    </h1>
    <p class="display-2 mb-0 text-center">A cloud-native open-source unified cloud platform</p>
  </div>
</div>
<div class="row align-items-center mt-3">
    <div class="col-lg-7 mt-5">
      <div class="screen_img_container">
        <img alt="Screenshot of cloudpods" class="cloudpods_screen_img" src="/images/cloudpods_screen_img.gif" />
      </div>
    </div>
    <div class="col-lg-5 pl-5 mt-2">
      <div class="mt-5">
        <h3 class="display-4 mt-0 pb-3">
            On-premise Baremetal and Virtualization
        </h3>
        <p class="">Comprehensive cloudification of legacy IDC resources to improve efficiencies of IT infrastructure</p>
      </div>
      <div class="mt-5">
        <h3 class="display-4 mt-0 pb-3">
            Hybrid and Multi-Cloud Management
        </h3>
        <p>Unified management of heterogeneous cloud infrastructures to simplify the complexity of multi-cloud architecture</p>
      </div> 
    </div>
</div>
<div class="col-12 pt-2">
  <div class="pt-3 lead text-center">
    <div class="mx-auto mt-5 mb-5">
      <a class="btn btn-lg btn-secondary mr-3 mb-4" href="/en/docs/quickstart/">
        Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
      </a>
      <a class="btn btn-lg btn-primary mr-3 mb-4" href="/en/docs/">
        Learn More <i class="fas fa-book-reader ml-2"></i>
      </a>
    </div>
  </div>
</div>
{{</blocks/cover>}}

{{< blocks/lead color="primary" >}}

<h2>The one cloud contains all your clouds</h2>

<p>Cloudpods manages not only on-premise KVM/baremetals, but also resources from many cloud accounts across many cloud providers. It hides the differences of underlying cloud providers and exposes one set of APIs that allow programatically interacting with these many clouds.</p>

{{< /blocks/lead >}}

{{< blocks/section type="features" color="white" >}}

{{% blocks/feature icon="fas fa-cloud-upload-alt fa-2x" title="Cloud Native" height="auto" color="blue" %}}
Running in Kubernetes and managed by a Kubernetes Operator.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-server fa-2x" title="Private Cloud" height="auto" color="blue" %}}
A light-weight private cloud that manages KVM hypervisor in scale.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cube fa-2x" title="BareMetals" height="auto" color="blue" %}}
A BareMetal cloud that automates the full life-cycle management of baremetal physical machines.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-cloudversify fa-2x" title="Multi-Cloud" height="auto" color="blue" %}}
Multi-cloud management that is able to manage a wide range of cloud providers, including private cloud and public clouds.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-dharmachakra fa-2x" title="Multi-Cloud K8s" height="auto" color="blue" %}}
Deploy and manage Kubernetes clusters in multi-cloud environment.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-id-card fa-2x" title="Multi-Tenancy" height="auto" color="blue" %}}
A complete multi-tenancy RBAC-enabled IAM (identity and access management) system.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-cog fa-2x" title="Cloud SSO" height="auto" color="blue" %}}
Cloud SSO that allows accessing native webconsole of cloud providers with unified federated identities.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-terminal fa-2x" title="CLIMC" height="auto" color="blue" %}}
Access Cloudpods with an efficient and productive command line tool **climc**
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code fa-2x" title="Unified APIs" height="auto" color="blue" %}}
One set of feature-rich APIs to access a wide range of resources from heterogeneous cloud providers with consistent models and APIs.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead >}}
<h2 class="section-label">Supported Platforms and Technologies</h2>
{{< /blocks/lead >}}

{{% blocks/section color="white" %}}
<div class="col">
  <div class="provider-wrapper">
    <img src="/images/provider/IPMI.png" alt="IPMI" />
    <img src="/images/provider/KVM.png" alt="" />
    <img src="/images/provider/Redfish.png" alt="Redfish" />
    <img src="/images/provider/ceph.png" alt="Ceph" />
    <img src="/images/provider/minio.png" alt="minio" />
    <img src="/images/provider/VMware.png" alt="VMware" />
    <img src="/images/provider/OpenStack.png" alt="OpenStack" />
    <img src="/images/provider/Nutanix.png" alt="Nutanix" />
    <img src="/images/provider/ZStack.png" alt="ZStack" />
    <img src="/images/provider/Proxmox.png" alt="Proxmox" />
    <img src="/images/provider/BingoCloud.png" alt="BingoCloud" />
    <img src="/images/provider/ctyun.png" alt="ctyun" />
    <img src="/images/provider/ecloud.png" alt="ecloud" />
    <img src="/images/provider/JDCloud.png" alt="JDCloud" />
    <img src="/images/provider/Aliyun.png" alt="Aliyun" />
    <img src="/images/provider/TencentCloud.png" alt="TencentCloud" />
    <img src="/images/provider/huaweicloud.png" alt="HuaweiCloud" />
    <img src="/images/provider/AWS.png" alt="AWS" />
    <img src="/images/provider/Azure.png" alt="Azure" />
    <img src="/images/provider/GoogleCloud.png" alt="GoogleCloud" />
    <img src="/images/provider/UCloud.png" alt="UCloud" />
  </div>
</div>

{{% /blocks/section %}}

{{< blocks/lead >}}
<h3 class="section-label">Who are using Cloudpods?</h3>
<p>Please check <a href="https://github.com/yunionio/cloudpods/issues/11427">this GitHub issue</a> for the user list of Cloudpods.</p>
{{< /blocks/lead >}}

{{% blocks/section color="white" %}}

<div class="col">
  <div class="provider-wrapper">
    <img src="/images/provider/mininglamp.png" alt="明略科技" />
    <img src="/images/provider/tianyancha.png" alt="天眼查" />
    <img src="/images/provider/percent.png" alt="百分点" />
    <img src="/images/provider/bitmain.png" alt="BITMAIN" />
    <img src="/images/provider/navinfo.png" alt="四维图新" />
    <img src="/images/provider/bonc.png" alt="东方国信" />
    <img src="/images/provider/huolala.png" alt="货拉拉" />
    <img src="/images/provider/jzsec.png" alt="九州证券" />
    <img src="/images/provider/lixiang.png" alt="理想" />
    <img src="/images/provider/nio.png" alt="NIO" />
    <img src="/images/provider/nsfocus.png" alt="NSFOCUS" />
    <img src="/images/provider/lexin.png" alt="乐信" />
    <img src="/images/provider/xiaoying.png" alt="xiaoying" />
    <img src="/images/provider/hpc-now.png" alt="上海即算科技" />
    <img src="/images/provider/asiainfodata.png" alt="亚信数据" />
    <img src="/images/provider/changhong.png" alt="长虹" />
    <img src="/images/provider/tcl.png" alt="TCL" />
    <img src="/images/provider/iscas.png" alt="中国科学院软件研究所" />
    <img src="/images/provider/grgbanking.png" alt="广电运通" />
    <img src="/images/provider/stoneatom.png" alt="杭州石原子" />
  </div>
</div>

{{% /blocks/section %}}

{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fas fa-question-circle" title="Have any question?" %}}
  Open a [issue](https://github.com/yunionio/cloudpods/issues) on **GitHub**.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/yunionio/cloudpods" url_text="Contribute to Cloudpods" %}}
  Make a [Pull Request](https://github.com/yunionio/cloudpods/pulls) on **GitHub**.

  You are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-weixin" title="Join WeChat group!" %}}
  <img style="width:100px" src="https://www.cloudpods.org/images/contact_me_qr_20230321.png" alt="WeChat QRCode">
{{% /blocks/feature %}}

{{< /blocks/section >}}
