+++
title = "Cloudpods"
linkTitle = "Cloudpods"
+++

<!-- Hero section -->
{{<blocks/cover title="" image_anchor="center" height="full" color="white">}}
<div class="row align-items-center">
  <div class="col-lg-12">
    <h1 class="display-1 mt-0 text-center">
      <img alt="Cloudpods" width="350" src="/images/cloudpods_logo_green.png" />
    </h1>
    <p class="display-2 mb-0 text-center">A cloud-native open-source unified cloud platform</p>
  </div>
</div>
<div class="row align-items-center mt-3">
    <div class="col-lg-7 mt-5">
      <div class="screen_img_container">
        <img alt="Screenshot of cloudpods" class="cloudpods_screen_img" src="/images/cloudpods_screen_img.gif" />
      </div>
    </div>
    <div class="col-lg-5 pl-5 mt-2">
      <div class="mt-5">
        <h3 class="display-4 mt-0 pb-3">
            On-premise Baremetal and Virtualization
        </h3>
        <p class="">Comprehensive cloudification of legacy IDC resources to improve efficiencies of IT infrastructure</p>
      </div>
      <div class="mt-5">
        <h3 class="display-4 mt-0 pb-3">
            Hybrid and Multi-Cloud Management
        </h3>
        <p>Unified management of heterogeneous cloud infrastructures to simplify the complexity of multi-cloud architecture</p>
      </div> 
    </div>
</div>
<div class="col-12 pt-2">
  <div class="pt-3 lead text-center">
    <div class="mx-auto mt-5 mb-5">
      <a class="btn btn-lg btn-secondary mr-3 mb-4" href="/en/docs/quickstart/">
        Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
      </a>
      <a class="btn btn-lg btn-primary mr-3 mb-4" href="/en/docs/">
        Learn More <i class="fas fa-book-reader ml-2"></i>
      </a>
    </div>
  </div>
</div>
{{</blocks/cover>}}

{{< blocks/lead color="primary" >}}

<h2>The one cloud contains all your clouds</h2>

<p>Cloudpods manages not only on-premise KVM/baremetals, but also resources from many cloud accounts across many cloud providers. It hides the differences of underlying cloud providers and exposes one set of APIs that allow programatically interacting with these many clouds.</p>

{{< /blocks/lead >}}

{{< blocks/section type="features" color="white" >}}

{{% blocks/feature icon="fas fa-cloud-upload-alt fa-2x" title="Cloud Native" height="auto" color="blue" %}}
Running in Kubernetes and managed by a Kubernetes Operator.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-server fa-2x" title="Private Cloud" height="auto" color="blue" %}}
A light-weight private cloud that manages KVM hypervisor in scale.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cube fa-2x" title="BareMetals" height="auto" color="blue" %}}
A BareMetal cloud that automates the full life-cycle management of baremetal physical machines.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-cloudversify fa-2x" title="Multi-Cloud" height="auto" color="blue" %}}
Multi-cloud management that is able to manage a wide range of cloud providers, including private cloud and public clouds.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-dharmachakra fa-2x" title="Multi-Cloud K8s" height="auto" color="blue" %}}
Deploy and manage Kubernetes clusters in multi-cloud environment.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-id-card fa-2x" title="Multi-Tenancy" height="auto" color="blue" %}}
A complete multi-tenancy RBAC-enabled IAM (identity and access management) system.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-cog fa-2x" title="Cloud SSO" height="auto" color="blue" %}}
Cloud SSO that allows accessing native webconsole of cloud providers with unified federated identities.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-terminal fa-2x" title="CLIMC" height="auto" color="blue" %}}
Access Cloudpods with an efficient and productive command line tool **climc**
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code fa-2x" title="Unified APIs" height="auto" color="blue" %}}
One set of feature-rich APIs to access a wide range of resources from heterogeneous cloud providers with consistent models and APIs.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead >}}
<h2 class="section-label">Supported Platforms and Technologies</h2>
{{< /blocks/lead >}}

{{% blocks/section color="white" %}}
<div class="col">
    <p class="text-center showcase">
        <img style="width: 75px" src="/images/provider/kvm.svg" alt="KVM">
        <img style="height: 61px" src="/images/provider/ipmi.svg" alt="IPMI">
        <img style="height: 60px" src="/images/provider/redfish.jpg" alt="Refish API">
        <img style="width: 75px" src="/images/provider/vmware.svg" alt="VMware">
        <img style="width: 75px" src="/images/provider/openstack.svg" alt="OpenStack">
        <img style="width: 75px" src="/images/provider/zstack.svg" alt="ZStack">
        <img style="width: 75px" src="/images/provider/aliyun.svg" alt="Alibaba Cloud">
        <img style="width: 75px" src="/images/provider/aws.svg" alt="AWS">
        <img style="width: 75px" src="/images/provider/qcloud.svg" alt="Tencent Cloud">
        <img style="height: 65px" src="/images/provider/huawei.svg" alt="Huawei Cloud">
        <img style="width: 75px" src="/images/provider/azure.svg" alt="Azure">
        <img style="width: 75px" src="/images/provider/google.svg" alt="Google Cloud">
        <img style="width: 75px" src="/images/provider/ucloud.svg" alt="UCloud">
        <img style="width: 75px" src="/images/provider/ctyun.svg" alt="China Telecom Cloud">
        <img style="width: 75px" src="/images/provider/cmecloud.svg" alt="China Mobile Cloud">
        <img style="width: 75px" src="/images/provider/jdcloud.svg" alt="JD Cloud">
    </p>
</div>

{{% /blocks/section %}}

{{< blocks/lead >}}
<h3 class="section-label">Who are using Cloudpods?</h3>
<p>Please check <a href="https://github.com/yunionio/cloudpods/issues/11427">this GitHub issue</a> for the user list of Cloudpods.</p>
{{< /blocks/lead >}}

{{% blocks/section color="white" %}}

<div class="col">
    <p class="text-center showcase">
        <img style="height: 35px" src="/images/provider/mingluekeji.svg" alt="MineLAMP">
        <img style="height: 28px" src="/images/provider/tianyancha.svg" alt="TianYanCha.com">
        <img style="width: 200px" src="/images/provider/baifendian.svg" alt="Percent">
        <img style="height: 100px" src="/images/provider/bitedalu.svg" alt="BITMAIN">
        <img style="height:35px" src="/images/provider/siweituxin.svg" alt="NAVINFO">
        <img style="height:35px" src="/images/provider/bonc.png" alt="BONC">
        <img style="height:35px" src="/images/provider/huolala.svg" alt="Lalamove">
        <img style="height:50px" src="/images/provider/jiuzhouzhengquan.svg" alt="Jz Securities CO.,LTD.">
        <img style="height:40px" src="/images/provider/lixiang.svg" alt="Li Auto Inc.">
        <img style="height:40px" src="/images/provider/lvmeng.svg" alt="NSFOCUS">
    </p>
</div>

{{% /blocks/section %}}

{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fas fa-question-circle" title="Have any question?" %}}
  Open a [issue](https://github.com/yunionio/cloudpods/issues) on **GitHub**.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/yunionio/cloudpods" url_text="Contribute to Cloudpods" %}}
  Make a [Pull Request](https://github.com/yunionio/cloudpods/pulls) on **GitHub**.

  You are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-weixin" title="Join WeChat group!" %}}
  <img style="width:100px" src="https://www.cloudpods.org/images/contact_me_qr_20210701.png" alt="WeChat QRCode">
{{% /blocks/feature %}}

{{< /blocks/section >}}
